/*global.styl*/html{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:20px;background:url("../images/bodybg.jpg")}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;resize:none;border:1px solid #c1c1c1}
input,textarea,select{*font-size:100%}
legend{color:#000}
h1{font-size:138.5%;line-height:32px}
h2{font-size:123.1%;line-height:24px}
h3{font-size:108%}
a{text-decoration:none}
p{background:url("../stylesheets/images/2.png")}
div{background-image:url("../stylesheets/1.png")}

/*index.styl*/#contentContainer{width:1000px;margin:50px auto;text-align:center;padding:8px 10px;background-color:#222;border:1px solid #222;color:#333;-webkit-box-shadow:inset 0 0 10px rgba(255,255,255,0.2) inset 0 1px 0 rgba(255,255,255,0.1);-moz-box-shadow:inset 0 0 10px rgba(255,255,255,0.2) inset 0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 0 10px rgba(255,255,255,0.2) inset 0 1px 0 rgba(255,255,255,0.1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-shadow:0 -1px 0 rgba(0,0,0,0.2)}
#loadingProgressTip{display:none}

