html
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 13px
  line-height 20px
  background url(../images/bodybg.jpg)
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td 
  margin 0
  padding 0
  border 0
  font-weight inherit
  font-style inherit
  vertical-align baseline
table
  border-collapse collapse
  border-spacing 0
fieldset, img
  border 0
address, caption, cite, code, dfn, em, strong, th, var
  font-style normal
  font-weight normal
li
  list-style none
caption, th
  text-align left
h1, h2, h3, h4, h5, h6
    font-size 100%
    font-weight normal
q:before, q:after
  content ''
abbr, acronym
  border 0
  font-variant normal
sup
  vertical-align text-top
sub
  vertical-align text-bottom
input, textarea, select
  font-family inherit
  font-size inherit
  font-weight inherit
  resize none
  border 1px solid #c1c1c1
input, textarea, select
  *font-size 100%
legend
  color #000
h1
  font-size 138.5%
  line-height 32px
h2
  font-size 123.1%
  line-height 24px
h3
  font-size 108%
a
  text-decoration none
p
  background url(./images/2.png)
#test
  background-image url(./1.jpg)